@model IPagedList<Product>
  
<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <img alt="@product.Name" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjQyIiBoZWlnaHQ9IjIwMCIgdmlld0JveD0iMCAwIDI0MiAyMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzEwMCV4MjAwCkNyZWF0ZWQgd2l0aCBIb2xkZXIuanMgMi42LjAuCkxlYXJuIG1vcmUgYXQgaHR0cDovL2hvbGRlcmpzLmNvbQooYykgMjAxMi0yMDE1IEl2YW4gTWFsb3BpbnNreSAtIGh0dHA6Ly9pbXNreS5jbwotLT48ZGVmcz48c3R5bGUgdHlwZT0idGV4dC9jc3MiPjwhW0NEQVRBWyNob2xkZXJfMTZiN2VjYmNiN2EgdGV4dCB7IGZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMnB0IH0gXV0+PC9zdHlsZT48L2RlZnM+PGcgaWQ9ImhvbGRlcl8xNmI3ZWNiY2I3YSI+PHJlY3Qgd2lkdGg9IjI0MiIgaGVpZ2h0PSIyMDAiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSI4OS44MDQ2ODc1IiB5PSIxMDUuMSI+MjQyeDIwMDwvdGV4dD48L2c+PC9nPjwvc3ZnPg==">
                <div class="caption">

                    <h3 class="@(product.Orders.Count>0?"alert alert-success":"")"> @product.Name</h3>
                     
                    <p class="text-muted">
                        <span>Price: <strong>@product.Price.ToString("C")</strong></span>  Status: <span class="text-success">@product.Inventory items are in stock</span>
                    </p>

                    <p>
                        <button class="btn btn-danger" onclick="addCard(@product.Id)" role="button">Add to Card</button>
                    </p>
                </div>
            </div>
        </div>
    }
</div>

<div class="text-center" id="pager1">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>