@model IEnumerable<Order>

@using (Html.BeginForm("Checkout", "Order", new { }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label class="col-md-2 control-label">
            Suppliers
        </label>
        <div class="col-md-10">
            @Html.DropDownList("SupplierId", (SelectList)ViewBag.Suppliers,new {@class = "form-control"})
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">
            Lines
        </label>
        <div class="col-md-10">

            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Quantity)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        <td>
                            @Html.HiddenFor(a => item.ProductId)
                            @Html.HiddenFor(a => item.Quantity)
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger", @onclick = "return confirm('Are you sure to delete?')" })
                        </td>
                    </tr>
                }

            </table>

        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12 text-center">
            <input type="submit" value="Checkout" class="btn btn-lg btn-success" />
        </div>
    </div>

}