<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | @ApplicationSettings.Title</title>

    <link rel="apple-touch-icon" sizes="57x57" href="@Url.Content("~/Assets/img/apple-icon-57x57.png")">
    <link rel="apple-touch-icon" sizes="60x60" href="@Url.Content("~/Assets/img/apple-icon-60x60.png")">
    <link rel="apple-touch-icon" sizes="72x72" href="@Url.Content("~/Assets/img/apple-icon-72x72.png")">
    <link rel="apple-touch-icon" sizes="76x76" href="@Url.Content("~/Assets/img/apple-icon-76x76.png")">
    <link rel="apple-touch-icon" sizes="114x114" href="@Url.Content("~/Assets/img/apple-icon-114x114.png")">
    <link rel="apple-touch-icon" sizes="120x120" href="@Url.Content("~/Assets/img/apple-icon-120x120.png")">
    <link rel="apple-touch-icon" sizes="144x144" href="@Url.Content("~/Assets/img/apple-icon-144x144.png")">
    <link rel="apple-touch-icon" sizes="152x152" href="@Url.Content("~/Assets/img/apple-icon-152x152.png")">
    <link rel="apple-touch-icon" sizes="180x180" href="@Url.Content("~/Assets/img/apple-icon-180x180.png")">
    <link rel="icon" type="image/png" sizes="192x192" href="@Url.Content("~/Assets/img/android-icon-192x192.png")">
    <link rel="icon" type="image/png" sizes="32x32" href="@Url.Content("~/Assets/img/favicon-32x32.png")">
    <link rel="icon" type="image/png" sizes="96x96" href="@Url.Content("~/Assets/img/favicon-96x96.png")">
    <link rel="icon" type="image/png" sizes="16x16" href="@Url.Content("~/Assets/img/favicon-16x16.png")">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="@Url.Content("~/Assets/img/ms-icon-144x144.png")">
    <meta name="theme-color" content="#ffffff">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @RenderSection("styles", false)

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index","Home")" class="navbar-brand">
                    <img src="@Url.Content("~/Assets/img/logo.png")" alt="Logo" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ProductListingActionLink()</li>
                    
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.OrderListingActionLink()</li>
                    }

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">

        <h2>@ViewBag.Title.</h2>

        @RenderBody()

        <hr />

        <footer>
            <p>&copy; @DateTime.Now.Year - @ApplicationSettings.Title</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", false)
</body>
</html>
